/* ==========================================================================
   Mint skin
   ========================================================================== */

/* Colors */
$background-color: mix(#fff, #f3f6f6, 80%) !default;
$text-color: #13171b !default;
$muted-text-color: #05274e !default;
$primary-color: #05274e !default;
$border-color: mix(#fff, #165fb3, 75%) !default;
$footer-background-color: #111e31 !default;
$link-color: #05274e !default;
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: $text-color !default;
$navicon-link-color-hover: mix(#fff, $text-color, 80%) !default;

.page__footer {
  color: #fff !important; // override
}

.page__footer-follow .social-icons i,
.page__footer-follow .social-icons .svg-inline--fa {
  color: inherit;
}
